body {
    background-color: #F0E4D8;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
}

.space {
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    height: 50px;
    color: #000000;
    font-family: "Philosopher", sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    width: 90%;
}


.note-content {
    min-height: 20px;
    padding: 5px;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: inherit;
    background: transparent;
    margin-left: 20px;
    border: none;
    color: #B14F44;
    font-size: 25px;
}

.note-content:focus {
    background: rgba(255, 255, 255, 0.1);
}

.note-content:empty:before {
    content: attr(data-placeholder);
    color: #888;
}

.text {
    position: relative;
    margin: 10px 0;
    color: #B14F44;
    font-size: 25px;
}

.all_texts {
    position: relative;
    min-height: 300px;
}

.new-note-area {
    margin-top: 20px;
    position: fixed;
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
}
