body {
    background-color: #F0E4D8;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
}

.username {
    text-decoration: none;
    color: #F0E4D8;
}

header{
    width: 100%;
    background: #DD8E75;
    height: 80px;
    border: 1px solid #C9C9C9;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 50px;
}

body {
  margin: 0px;
}

.name{
    position: absolute;
    top: 20px;
	right: 200px;
    font-size: 30px;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
}

.settings {
    width: 27%;
    background-color: #DD8E75;
    height: 590px;
    border: 1px solid #C9C9C9;
    border-radius: 25px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.info {
    width: 50%;
    background-color: #FFFFFF;
    height: 550px;
    border: 1px solid #C9C9C9;
    border-radius: 25px;
    margin-left: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #F0E4D8;
}

p {
    font-size: 27px;
    padding: 10px 20px;
    margin-top: 5px;
}

.s1 {
    background-color: #DD8E75;
    transition: background-color 0.2s ease;
}

.s1:hover {
    background-color: #B14F44;
}

.top, .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top {
    flex-grow: 1;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.back_to_mp {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

h {
    font-size: 27px;
    font-weight: 300px;
    margin-left: 20px;
}

.in {
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    height: 25px;
    color: #000000;
    font-family: "Philosopher", sans-serif;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    width: 50%;
}

.form{
    font-size: 25px;
}

.change {
    padding: 10px 20px;
    font-family: "Philosopher", sans-serif;
    width: 53%;
    margin-bottom: 25px;
    margin-top: 10px;
    background-color: #B14F44;
    color: #F0E4D8;
    font-size: 20px;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
}

.txt{
    font-size:20px;
    padding: 8px 0px 0px 0px;

}

.section-title {
    font-family: "Philosopher", sans-serif;
    font-weight: 300px;
    margin: 0px;
    font-size: 27px;
}
