body {
    background-color: #F0E4D8;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
}

.username {
    text-decoration: none;
    color: #F0E4D8;
}

header{
    width: 100%;
    background: #DD8E75;
    height: 80px;
    border: 1px solid #C9C9C9;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 50px;
}

body {
  margin: 0px;
}

.name{
    position: absolute;
    top: 20px;
	right: 200px;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #F0E4D8;
}

p {
    font-size: 27px;
    padding: 10px 20px;
    margin-top: 5px;
}


.back_to_mp {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
}

h {
    font-size: 27px;
    font-weight: 300px;
    margin-left: 20px;
}


.section-title {
    font-family: "Philosopher", sans-serif;
    font-weight: 300px;
    margin: 0px;
    font-size: 27px;
}

.title {
    flex: 1;
    text-align: center;
    font-size: 28px;
    color: #F0E4D8;
    position: absolute;
    top: 20px;
	right: 800px;
    font-size: 30px;
}

.note-content {
    width: 100%;
    padding: 5px;
    outline: none;
    font-family: inherit;
    border: none;
    color: #B14F44;
    font-size: 25px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note-content:focus {
    background: rgba(255, 255, 255, 0.1);
}

.note-content:empty:before {
    content: attr(data-placeholder);
    color: #888;
}

.text {
    margin: 5px 0;
    color: #B14F44;
    font-size: 25px;
    width: calc(100% - 20px)
    word-wrap: break-word;
    text-align: left;
}

.all_texts {
    position: relative;
    width: calc(100% - 20px);
}

.new-note-area {
    width: 100%;
}
