body {
    background-color: #F0E4D8;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.note-content {
    padding: 5px;
    outline: none;
    font-family: inherit;
    margin-left: 20px;
    border: none;
    color: #B14F44;
    font-size: 25px;
}

.note-content:focus {
    background: rgba(255, 255, 255, 0.1);
}

.note-content:empty:before {
    content: attr(data-placeholder);
    color: #888;
}

.text {
    margin: 5px 0;
    color: #B14F44;
    font-size: 25px;
}

.all_texts {
    position: relative;
}

.new-note-area {
    width: calc(100% - 40px);
}
