<!DOCTYPE HTML>
<html lang="ru">
      <head>
        <meta charset="UTF-8">
        <title>MindSpace</title>
        <meta name="description" content="Описание страницы" />
        <link rel="stylesheet" type="text/css" href="/static/css/style_landing.css?v=4" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/icon_2.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      </head>
      <body>
        <header>
            <img src="/static/img/icon_2.png" class="img_icon">
          <div style="font-size: 23px;" class="navi">
            <a href="/users/login" style="color: #B14F44;">Вход</a>
            <button class="try_registration" style="font-size: 20px;"><a href="/users/registration">Начать бесплатно</a></button>
          </div>
        </header>
        <main style="justify-content: center; align-items: center; width:70%; margin: 0 auto;">
            <div class="phrase">
                <section>
                    <h1 class="landing" style="font-size: 50px;">Творите, планируйте, достигайте <br> вместе с MindSpace</h1>
                </section>
                <button class="try_registration" style="margin: auto; display: block; font-size: 20px;"><a href="/users/registration">Начать бесплатно</a></button>
            </div>
        </main>
        <footer>
        </footer>
      </body>
</html>