<!DOCTYPE HTML>
<html lang="ru">
      <head>
        <meta charset="UTF-8">
        <title>MindSpace</title>
        <meta name="description" content="Описание страницы" />
        <link rel="stylesheet" type="text/css" href="/static/css/style_article.css?v=4" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/icon_2.ico">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <script src="/static/js/notes.js" defer></script>
      </head>
      <body>
        <header>
            <div class="back_to_mp">
                <a href="/profile/main_page/">
                    <svg xmlns="http://www.w3.org/2000/svg" height="45" width="60" viewBox="0 0 320 512">
                        <path fill="#f0e4d8" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
                    </svg>
                </a>
            </div>
            <div class="title">
                <span>{{title}}</span>

                <button id="openModalBtn" class="share">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#b14f44" d="M307 34.8c-11.5 5.1-19 16.6-19 29.2l0 64-112 0C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96l96 0 0 64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"/></svg>
                </button>
            </div>

            <div class="container">

                <div class="name">
                    <a href="/profile/main_page/profile">{{username}}</a>
                </div>
                <div class="photo">
                    <a href="/profile/main_page/profile"><img id="user_photo" class="user_photo" src="{{ image_url if image_url else 'https://www.kino-teatr.ru/news/21378/190975.jpg' }}"></a>
                </div>
            </div>


            <div class="name">
                <a class="username" href="/profile/main_page/profile/">{{username}}</a>
            </div>

            <div id="modal" class="modal">
                <div class="content_title">
                    <button class="closeBtn" onclick="closeModal()"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#FFFFFF" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></button>
                    <div class="back">
                        <form action="/board/main_page/{{board_id}}/add_collaborator" method="post">
                            <input class="in" type="text" id="email_collaborator" name ="email_collaborator" placeholder="Введите email коллаборатора">
                            <input class="confirmBtn" type="submit" value="Подтвердить">
                        </form>
                    </div>
                </div>
            </div>

            <script src="/static/js/js_collab.js"></script>
        </header>

        <main style="width: 100%;">
            <div class="all_texts" id="notesContainer">
                {% for text in texts %}
                    <div class="text" data-text-id="{{ text.id }}">
                        <pre class="note-content" contenteditable="true">{{ text.text }}</pre>
                    </div>
                {% endfor %}
            </div>

            <div class="new-note-area">
                <div class="text">
                    <pre class="note-content" 
                         contenteditable="true" 
                         id="newNote" 
                         data-placeholder="Введите заметку"></pre>
                </div>
            </div>
            <p></p>
            <form id="uploadForm" enctype="multipart/form-data">
                <label for="file_input">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512 512">
                        <path fill="#b14f44" d="M448 80c8.8 0 16 7.2 16 16l0 319.8-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3L48 96c0-8.8 7.2-16 16-16l384 0zM64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/>
                    </svg>
                </label>
                <input type="file" id="file_input" name="file" accept="image/*" style="display: none;">
                <button class="save_img" type="submit" id="submitImage" style="display: none;">Сохранить</button>
            </form>

            <div class="images">
                {% for image in board_images %}
                    <img src="{{ image }}" alt="Board Image">
                {% endfor %}
            </div>
        </main>
      <script src="/static/js/js_img.js"></script>
            <div class="new-todo-area">
                <div id="todoList" class="todo-lists-container">
                    {% for todo_list in todo_lists %}
                        <div class="todo-list" data-todo-list-id="{{ todo_list.id }}">
                            <h3 class="todo_title">{{ todo_list.title }}</h3>
                            {% for task in todo_list.tasks %}
                                <div class="todo-task" data-task-id="{{ task.id }}">
                                    <input type="checkbox" class="check_box" {% if task.completed %}checked{% endif %}>
                                    <span>{{ task.title }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div id="todoInputContainer" style="display: none;">
                    <input class="input_todo" type="text" id="todoInput" placeholder="Введите задачу">
                </div>
                <button id="addTodoBtn" class="add_btn">
                    <div class="plus">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="#B14F44" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"/>
                        </svg>
                    </div>
                </button>

                <div id="modal_todo" class="modal_todo">
                    <div class="content_todo">
                        <button class="closeBtn" id="cancel-btn"><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#FFFFFF" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg></button>
                        <div class="back">
                            <h3 class="todo_title">Введите название списка задач</h3>
                            <input class="todo_input" type="text" id="todo-title-input" placeholder="Название списка...">
                            <h3 class="todo_title">Выберите дедлайн:</h3>
                            <input class="todo_input" type="datetime-local" id="deadline" name="deadline">
                            <button id="submit-btn" class="confirmBtn" onclick="submitDeadline()">Создать</button>
                        </div>
                    </div>
                </div>

        </main>
      <script src="/static/js/js_todo.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      </body>
</html>
