<!DOCTYPE HTML>
<html lang="ru">
  <div>
      <head>
        <meta charset="UTF-8">
        <title>MindSpace</title>
        <meta name="description" content="Описание страницы" />
        <link rel="stylesheet" type="text/css" href="./static/css/style_entry.css" />
          
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      </head>
      <body>
        <header>
        </header>
        <main>
            <section>
                <div class="entry_section">
                    <p style="font-size: 30px; text-align: center">Вход<p>
                    <div class="input">
                        <label for="username">Логин</label>
                        <input type="text" id="username" name="username" required placeholder="Введите Ваш логин или email">
                        <label for="password">Пароль</label>
                        <input type="password" id="password" name="password" required placeholder="Введите Ваш пароль">
                        <a href="reg.html" style="color: #000000; text-align: right;">Забыли пароль?</a>
                    </div>
                    <button class="entry_button"><a href="main_page.html" style="font-size: 20px;">Войти</a></button>
                    <div class="reg">
                        <p>Еще нет аккаунта?   <a href="reg.html" style="color: #000000; text-decoration: underline;">Зарегистрироваться</a></p>
                    </div>
                </div>
            </section>
        </main>
        <footer>
        </footer>
      </body>
  </div>
</html>
