<!DOCTYPE HTML>
<html lang="ru">
  <div>
      <head>
        <meta charset="UTF-8">
        <title>MindSpace</title>
        <meta name="description" content="Описание страницы" />
        <link rel="stylesheet" type="text/css" href="./static/css/style_landing.css" />
          
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      </head>
      <body>
        <header>
          <nav>
            <a href="/login" style="color: #B14F44;">Вход</a>
            <button class="try_registration"><a href="/registration">Начать бесплатно</a></button>
          </nav>
        </header>
        <main style="justify-content: center; align-items: center; width:70%; margin: 0 auto;">
            <section>
                <h1 class="landing">КАКОЙ-ТО НЕВЕРОЯТНЫЙ ЖЕЛАТЕЛЬНО ДВУХСТРОЧНЫЙ СЛОГАН</h1>
            </section>
            <button class="try_registration" style="margin: auto; display: block;"><a href="/registration">Начать бесплатно</a></button>
        </main>
        <footer>
        </footer>
      </body>
  </div>
</html>
