<!DOCTYPE HTML>
<html lang="ru">
  <div>
      <head>
        <meta charset="UTF-8">
        <title>MindSpace</title>
        <meta name="description" content="Описание страницы" />
        <link rel="stylesheet" type="text/css" href="../static/css/style_main_page.css?v=1" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      </head>
      <body>
        <header>
            <div class="name">
                <a href="/profile">Имя</a>
            </div>
        </header>

        <main style="width: 100%;">
            <div class="info">
                <div class="image"><img src="https://i.pinimg.com/originals/3c/2b/ea/3c2bea01b4b02c0387fd99d330ae84eb.jpg" width="100%" height="150px"></div>
                <p>Рабочие пространства</p>
                <div class="all_desks">
                    <div class="desk"></div>
                    <div class="desk"></div>
                    <div class="desk_add">+</div>
                </div>
            </div>
        </main>
        <footer>
        </footer>
      </body>
  </div>
</html>
