<!DOCTYPE HTML>
<html lang="ru">
  <div>
      <head>
        <meta charset="UTF-8">
        <title>MindSpace</title>
        <meta name="description" content="Описание страницы" />
        <link rel="stylesheet" type="text/css" href="/static/css/style_profile.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      </head>
      <body>
        <header>
            <div class="name">
                <a class="username" href="profile.html">{{username}}</a>
            </div>
        </header>

        <main style="width: 100%;">
            <div class="blocks">
                <div class="settings">
                    <p class="s1"><a href="">Основные настройки</a></p>
                    <p class="s2"><a href="">Профиль</a></p>
                    <p class="s3"><a href="">Уведомления</a></p>
                    <button class="back_to_landing" style="font-size: 20px;"><a href="/">Выйти из аккаунта</a></button>
                </div>
                <div class="info">

                </div>
            </div>

        </main>
        <footer>
        </footer>
      </body>
  </div>
</html>
