<!DOCTYPE HTML>
<html lang="ru">
  <div>
      <head>
        <meta charset="UTF-8">
        <title>MindSpace</title>
        <meta name="description" content="Описание страницы" />
        <link rel="stylesheet" type="text/css" href="./static/css/style_reg.css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
      </head>
      <body>
        <header>
        </header>
        <main>
            <div class="entry_section">
                <p style="font-size: 30px; text-align: center">Регистрация<p>
                <form action="users/registration" method="post">
                    <label for="email">E-mail</label>
                    <input type="text" id="email" name="email" required placeholder="Введите Ваш E-mail">
                    <label for="username">Имя</label>
                    <input type="text" id="username" name="username" required placeholder="Введите Ваше имя">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" name="password" required placeholder="Придумайте пароль">
                    <input type="submit" value="Зарегистрироваться" />
                </form>
            </div>
        </main>
        <footer>
        </footer>
      </body>
  </div>
</html>
